body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #003F40 0%,
    #003F40 25%,
    #002b36 50%,
    #001631 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
}

.statusBar {
    width: 100%;
    background-color: #001631;
    height: 15px;
    border-radius: 5px;
}

.progressBar {
    background: linear-gradient(#11B4FF, #fff);
    height: 12px;
    
    border-radius: 5px;
    
}