//Colors
$color_bg: #003F40;
$color_bg2: #001631;
$light_blue: #B2D8D8;
$navey_blue: #046997;
$green_blue: #006666;
$dark_green_blue: #1D5A67;
$black: #121214;
$white: #F6F6F6;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Linden+Hill:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

