@use '../../style/globals' as globals;

.navbarStyle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;


    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid white;
        border-radius: 25px;
        padding: 1rem;


        li {
            list-style: none;

        }
    }
}