@use '../../style/globals' as globals;



.inputStyle {
    font-size: 1.1rem;
    width: 90%;

    input {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        width: 100%;
        height: 42px;
        border: solid 1px white;
        border-radius: 50px;
        font-size: 1rem;
        background: transparent;
        color: white;

    }
}