@use '../../style/globals' as globals;

.btn {
    background-color: transparent;
    border: solid 1px white;
    color: globals.$white;
    border-radius: 50px;
    width: 100%;
    font-size: large;
    height: 42px;
    justify-content: center;
   


}