@use '../../style/globals' as globals;

.submitButton {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px ;
    background: transparent;
    border: solid 1px white;
    color: globals.$white;
    border-radius: 50px;
    width: 75vw;
    height: 42px;
    justify-content: center;
    margin-top: 10px;
}